<a href="https://colab.research.google.com/github/Mlnvl/python_classp/blob/main/My_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Step 1: Select a Dataset

I choose the data set Video Game Sales 2024 from kaggle.

https://www.kaggle.com/datasets/asaniczka/video-game-sales-2024/data

#Step 2: Tasks and Requirements

In [1]:
#import dataset from google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
#import dataset from google drive
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Pandas_data/vgchartz-2024.csv')

In [14]:
df.head()

,img,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date,last_update
0,/games/boxart/full_6510540AmericaFrontccc.jpg,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17,NaN
1,/games/boxart/full_5563178AmericaFrontccc.jpg,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18,2018-01-03
2,/games/boxart/827563ccc.jpg,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28,NaN
3,/games/boxart/full_9218923AmericaFrontccc.jpg,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17,NaN
4,/games/boxart/full_4990510AmericaFrontccc.jpg,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06,2018-01-14

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   img           64016 non-null  object
 1   title         64016 non-null  object
 2   console       64016 non-null  object
 3   genre         64016 non-null  object
 4   publisher     64016 non-null  object
 5   developer     63999 non-null  object
 6   critic_score  6678 non-null   float64
 7   total_sales   18922 non-null  float64
 8   na_sales      12637 non-null  float64
 9   jp_sales      6726 non-null   float64
 10  pal_sales     12824 non-null  float64
 11  other_sales   15128 non-null  float64
 12  release_date  56965 non-null  object
 13  last_update   17879 non-null  object
dtypes: float64(6), object(8)
memory usage: 6.8+ MB

In [16]:
#give column of df
df.columns

Index(['img', 'title', 'console', 'genre', 'publisher', 'developer',
       'critic_score', 'total_sales', 'na_sales', 'jp_sales', 'pal_sales',
       'other_sales', 'release_date', 'last_update'],
      dtype='object')

In [17]:
df.isnull().sum()

img                 0
title               0
console             0
genre               0
publisher           0
developer          17
critic_score    57338
total_sales     45094
na_sales        51379
jp_sales        57290
pal_sales       51192
other_sales     48888
release_date     7051
last_update     46137
dtype: int64

In [31]:
#delete column img and last update
df = df.drop(['img', 'last_update'], axis=1)

In [19]:
df

,title,console,genre,publisher,developer,critic_score,total_sales,na_sales,jp_sales,pal_sales,other_sales,release_date
0,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,9.4,20.32,6.37,0.99,9.85,3.12,2013-09-17
1,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,9.7,19.39,6.06,0.60,9.71,3.02,2014-11-18
2,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,9.6,16.15,8.41,0.47,5.49,1.78,2002-10-28
3,Grand Theft Auto V,X360,Action,Rockstar Games,Rockstar North,NaN,15.86,9.06,0.06,5.33,1.42,2013-09-17
4,Call of Duty: Black Ops 3,PS4,Shooter,Activision,Treyarch,8.1,15.09,6.18,0.41,6.05,2.44,2015-11-06
...,...,...,...,...,...,...,...,...,...,...,...,...
64011,XBlaze Lost: Memories,PC,Visual Novel,Aksys Games,Arc System Works,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-11
64012,"Yoru, Tomosu",PS4,Visual Novel,Nippon Ichi Software,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-30
64013,"Yoru, Tomosu",NS,Visual Novel,Nippon Ichi Software,Nippon Ichi Software,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-30
64014,Yunohana SpRING! ~Mellow Times~,NS,Visual Novel,Idea Factory,Otomate,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-28
64015,Yurukill: The Calumniation Games,PS4,Visual Novel,Unknown,G.rev Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.describe().transpose()

                count      mean       std  min   25%   50%   75%    max
critic_score   6678.0  7.220440  1.457066  1.0  6.40  7.50  8.30  10.00
total_sales   18922.0  0.349113  0.807462  0.0  0.03  0.12  0.34  20.32
na_sales      12637.0  0.264740  0.494787  0.0  0.05  0.12  0.28   9.76
jp_sales       6726.0  0.102281  0.168811  0.0  0.02  0.04  0.12   2.13
pal_sales     12824.0  0.149472  0.392653  0.0  0.01  0.04  0.14   9.85
other_sales   15128.0  0.043041  0.126643  0.0  0.00  0.01  0.03   3.12

In [15]:
#print skewness of critic_score, total_sales, na_sales, jp_sales, pal_sales, other_sales
df[['critic_score', 'total_sales', 'na_sales', 'jp_sales', 'pal_sales', 'other_sales']].skew()

critic_score   -4.220302
total_sales     8.775333
na_sales        6.898373
jp_sales        4.490406
pal_sales       9.586910
other_sales     9.794550
dtype: float64

In [14]:
df['critic_score'] = df['critic_score'].fillna(df['critic_score'].median())

In [103]:
#calculate the total sales by the sum of regional sales
df['total_sales'] = df['total_sales'].fillna(df[['na_sales', 'pal_sales', 'other_sales']].sum(axis=1))

In [83]:
sum_sales = df[['na_sales', 'pal_sales', 'other_sales']].sum(axis=0)
sum_sales

na_sales       15938.348228
pal_sales       8946.818126
other_sales     2599.266814
dtype: float64

In [88]:
sum_sales = df[['na_sales', 'pal_sales', 'other_sales']].sum(axis=0)
sum_sales

na_sales       3345.52
pal_sales      1916.83
other_sales     651.12
dtype: float64

In [36]:
#change missing 'developer' with 'publisher'
df['developer'] = df['developer'].fillna(df['publisher'])

In [37]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64016 entries, 0 to 64015
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         64016 non-null  object
 1   console       64016 non-null  object
 2   genre         64016 non-null  object
 3   publisher     64016 non-null  object
 4   developer     64016 non-null  object
 5   critic_score  64016 non-null  float64
 6   total_sales   64016 non-null  float64
 7   na_sales      12637 non-null  float64
 8   jp_sales      6726 non-null   float64
 9   pal_sales     12824 non-null  float64
 10  other_sales   15128 non-null  float64
 11  release_date  56965 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(6), object(5)
memory usage: 5.9+ MB

In [78]:
df.isna().sum()

img                 0
title               0
console             0
genre               0
publisher           0
developer          17
critic_score        0
total_sales     45094
na_sales            0
jp_sales           35
pal_sales           0
other_sales         0
release_date     7051
last_update     46137
dtype: int64

In [76]:
df['critic_score'] = df['critic_score'].fillna(df['critic_score'].median())

In [74]:
genre_stats=df.groupby('genre').agg({
    'critic_score':'median',
    'total_sales':'sum'
})
sorted_genres_by_score=genre_stats.sort_values(by='critic_score',ascending=False)
sorted_genres_by_sales=genre_stats.sort_values(by='total_sales',ascending=False)

In [67]:
platforms = df.groupby(['title', 'console'])['total_sales'].sum().sort_values(ascending=False).head(10)

In [98]:
# Calculer la moyenne des ventes par genre
genre_means = df.groupby('genre')['na_sales'].transform('mean')

# Imputer les valeurs manquantes dans 'na_sales' en utilisant la moyenne du genre correspondant
df['na_sales'] = df['na_sales'].fillna(genre_means)

In [99]:
# Calculer la moyenne des ventes par genre
genre_means = df.groupby('genre')['jp_sales'].transform('mean')

# Imputer les valeurs manquantes dans 'na_sales' en utilisant la moyenne du genre correspondant
df['jp_sales'] = df['jp_sales'].fillna(genre_means)

In [100]:
# Calculer la moyenne des ventes par genre
genre_means = df.groupby('genre')['pal_sales'].transform('mean')

# Imputer les valeurs manquantes dans 'na_sales' en utilisant la moyenne du genre correspondant
df['pal_sales'] = df['pal_sales'].fillna(genre_means)

In [101]:
# Calculer la moyenne des ventes par genre
genre_means = df.groupby('genre')['other_sales'].transform('mean')

# Imputer les valeurs manquantes dans 'na_sales' en utilisant la moyenne du genre correspondant
df['other_sales'] = df['other_sales'].fillna(genre_means)
genre_means

0        0.048059
1        0.048059
2        0.048059
3        0.048059
4        0.078459
           ...
64011    0.007647
64012    0.007647
64013    0.007647
64014    0.007647
64015    0.007647
Name: other_sales, Length: 64016, dtype: float64

In [51]:
df['critic_score'] = df['critic_score'].fillna(df['critic_score'].mean())